* { box-sizing: border-box } 
body {
	font-family: 'Roboto', sans-serif;
}
.bold {
	font-weight: bold;
}
h2 {
	font-size: 36px;	
	font-weight: bold;	
	line-height: 48px;	
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
.black-background {
	background: black;
}

nav{
	background: transparent;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 2;
	transition: 0.3s;
}
.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.logo {
	margin: 16px 0; 
}
.menu {
	display: flex;
}
.menu ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
@media (max-width: 500px) { 
	.menu ul {
		display: block;
	}
 }
.menu ul li {
	margin-left: 29px;
	display: flex;
	align-items: center;
}
.menu a {
	color: white;
}
.menu a:hover {
	color: #FF3A7C;
}
.wrapper {
	width: 85%;
	max-width: 938px;
	margin: 0 auto;
	/* border: 1px solid #bada55; */
}

header {
	padding-top: 52px;
	background-image: url('../assets/hero_image.png');
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	padding-top: 287px;
	padding-bottom: 214px;
}
@media (max-width: 500px) { 
	header {
		padding-top: 150px;
		padding-bottom: 150px;
	}
 }
header h2 {
	font-size: 36px;
	margin: 0;
	line-height: 48px;
}
header p {
	font-size: 24px;
	margin: 0;
}
header .buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
header .buttons a {
	color: white;
	font-size: 16px;
	font-weight: bold;	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	height: 40px;	
	width: 160px;	
	border-radius: 21px;	
	background: linear-gradient(0deg, #CA2059 0%, #FF3A7C 100%);	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
	margin-right: 20px;
}

header .buttons a:hover {
	background: white;
	color: #FE3A7B;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
}


@media (max-width: 500px) { 
	header .buttons a {
		margin: 10px 10px;
	}
 }
#about {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	line-height: 21px;
	padding: 0px 0 52px 0;
	width: 100vw;
	margin: unset;
	max-width: unset;
	background: #F7F7F7;
}
#about .image {
	padding: 30px 30px;
	position: relative;
}
#about .image img {
	max-width: 100%;
}
#about .image p{
	font-weight: bold;
	font-size: 48px;
	line-height: 51px;
	position: absolute;
	top: 12%;
	transform: translate(-50%);
	width: 50%;
	left: 50%;
}
@media (max-width: 500px) { 
	#about .image p {
		font-size: 34px;
	}
 }
#about .description {
	flex-grow: 1;
	flex-basis: 400px;
	max-width: 533px;
	margin: 0 auto;
	position: relative;
}
.badge {
	width: 60px;
	background: #F73677;
	height: 133px;
	position: absolute;
	top: 0;
	left: -80px;
}
#about .description h3 {
	font-size: 36px;
	line-height: 41px;
	color: #F73677;
	width: 50%;
	font-weight: normal;
}
#videos {

}
#videos h2 {
	font-size: 36px;	
	font-weight: bold;	
	line-height: 48px;	
	text-align: center;
}
#videos p {
		font-size: 18px;	
		line-height: 24px;	
		text-align: center;
		width: 62%;
		margin: 0 auto;
		margin-bottom: 80px;
}
@media (max-width: 500px) { 
	#videos p {
		margin-bottom: 20px;
	}
 }
.video {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	box-shadow: 0 6px 50px 0 rgba(0,0,0,0.05), 0 6px 50px 0 rgba(0,0,0,0.1);
	margin-bottom: 30px;
}
.video .image {
	padding: 22px 34px 39px 34px;
}
@media (max-width: 500px) { 
	.video .image {
		margin: 0 auto;
	}
 }
.video .image img {
	max-width: 235px;
}
#videos .video .description {
	padding-top: 52px;
	padding-right: 14%;
	flex-grow: 1;
  flex-basis: 400px;
}
@media (max-width: 500px) { 
	#videos .video .description {
		padding: 8%;
	}
 }
#videos .video .description p {
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	width: 100%;
	font-weight: 300;
}
.video h3 {
	margin: 10px 0;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(63, 59, 130, 0.82);
	color: white;
	display: flex;
  justify-content: center;
	align-items: center;
	opacity: 0; 
	cursor: pointer;
	transition: 0.3s;
}
.video:hover .overlay {
	opacity: 1;
}
.register-now {
	border-radius: 1px;	
	background: linear-gradient(0deg, #CA2059 0%, #FF3A7C 100%);	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
	text-align: center;
	padding: 42px;
	margin-top: 117px;
}
.register-now a {
	border: 2px solid #FFFFFF;	
	border-radius: 21px;
	color: white;
	padding: 9px 40px;
	text-decoration: none;
	font-size: 20px;
	line-height: 26px;
}
.register-now a:hover {
	background: white;
	color: #FE3A7B;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
}

@media (max-width: 500px) { 
	.register-now a {
		font-size: 16px;
	}
 }

.resources {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}
.resources a {
	display: block;
}
@media (max-width: 500px) { 
	.resources a {
		margin: 0 auto;
	}
 }
.resource {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	/* flex-grow: 1; */
	width: 245px;
	height: 195px;
	/* border: 1px solid #bada55; */
	margin: 15px;
	box-shadow: 0 6px 50px 0 rgba(0,0,0,0.05), 0 6px 50px 0 rgba(0,0,0,0.1);
	transition: 0.3s;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
	text-align: center;
	padding: 16px;
}
.resource p {
	margin: 0;
	width: 100%;
}
.resource:hover {
	background-color: #3F3B82;
	color: white;
}
svg g path {
	transform: 0.3s;
}
svg g path, #Fill-12, #Fill-11, #Fill-9{
	fill: black;
}
.resource:hover svg g path, .resource:hover #Fill-12, .resource:hover #Fill-11, .resource:hover #Fill-9, .resource:hover #Fill-5 {
	fill: white;
}

#campaign {
	background-color: #1A384D;
	color: white;
	width: 100vw;
	margin: unset;
	max-width: unset;
	padding: 57px 0 52px 0;
	font-weight: normal;
}
#campaign h2 {
	margin: 0;
	font-weight: normal;
	margin-bottom: 26px;
}
#campaign p {
	margin: 0;
	font-size: 20px;
}
#campaign form {
	max-width: 395px;
	margin: 0 auto;
}
#campaign label {
	width: 86px;
	display: inline-block;
	font-weight: 300;
}
#campaign input {
	width: 304px;
	padding: 6px;
	margin-bottom: 25px;
}
#campaign .submit-button {
	text-align: right;
}
#campaign button{
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 21px;
	background: linear-gradient(0deg, #CA2059 0%, #FF3A7C 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
	border: none;
	padding: 12px 42px;
	margin-top: 52px;
	cursor: pointer;
}
#campaign button:hover {
	background: white;
	color: #FE3A7B;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.21);
}
footer {
	background: black;
	padding: 25px;
	color: white;
	text-align: right;
}